fieldset{
    border-style: solid;
    border-radius: 60px;
    width: 300px;
    height: 400px;
    border-color: rgb(255, 255, 255);
    text-align: justify;
    justify-content: center;
    padding: 20px;
    background-color: rgb(150, 143, 143);
 }
 div{
     color: blue;
 }
 p{
   color: red;  
 }
 button{
     color: blue;
     background-color: yellow;
        width: 300px;
        padding: 30px;
        border-radius: 40px;
 
 
 }i{
     width: 100px;
 }h1{
     background-color: rgb(92, 142, 234);
     border-radius: 30px;
     border-style: solid;
     border-color: rgb(0, 255, 221);
     padding: 5px;
 }
 body{
  padding: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
 margin: 40px;
 background-color: black;
 }

 .form-group {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 0.5rem;
  }
  
  .pop {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }.pip{
    color: white;
  }.para{
    display: g;
    justify-content: center;
    align-items: center;
    text-align: center;
  }.emailForm{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-style: solid;
    border-color: #0056b3;
  }a{
    color: rgb(255, 65, 7);
  }.blos{
    color: #fff;
  }.cote{
    display: list-item;
    
  }.bloss{
    background-color: yellow;
    border-radius: 50px;
    width: 80px;
    height: 50px;padding: 5px;
  }button:active{
    @keyframes roll {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(720deg);
      }
  }
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-delay: initial;
  transform-style: preserve-3d;
  transform-origin: 0%;
  transform: rotate3d(0deg);
  -ms-text-kashida-space: initial;
  font-style: oblique;
 }
